.add-new-container {
    text-align: right;
}

.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}

.table-title .add-new i {
    margin-right: 4px;
}

label {
    text-align: left!important;
    font-weight: 100!important;
    margin: 0 auto!important;
}

legend {
    border-bottom: 0!important;
}

.alert {
    float: right;
    width: 100%;
}