<div class="col-sm-4 add-new-container">
  <button (click)="openModalWithClass(template)" type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Adicionar novo</button>
</div>
<ng-template #template>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="pessoaForm" novalidate class="form-horizontal" role="form">
          <fieldset>
            <legend>Adicionar devedor</legend>

            <div *ngIf="pessoaForm.controls['nome'].invalid
              && (pessoaForm.controls['nome'].dirty
              || pessoaForm.controls['nome'].touched)" class="alert alert-danger">
                <div *ngIf="pessoaForm.controls['nome'].errors.required">
                O campos nome é obrigatório.
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-12 control-label" for="inputNome">Nome do devedor</label>
              <div class="col-sm-12">
                <input type="text" id="inputNome" formControlName="nome" placeholder="Nome" class="form-control">
              </div>
            </div>

            <div *ngIf="pessoaForm.controls['cpf'].invalid
                      && (pessoaForm.controls['cpf'].dirty
                      || pessoaForm.controls['cpf'].touched)" class="alert alert-danger">
              <div *ngIf="pessoaForm.controls['cpf'].errors.required">
              O campos CPF é obrigatório.
            </div>
          </div>
            <div class="form-group">
              <label class="col-sm-12 control-label" for="inputCpf">CPF do devedor</label>
              <div class="col-sm-12">
                <input mask="000.000.000-00" id="inputCpf" formControlName="cpf" type="text"  placeholder="CPF" class="form-control" >
              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" [disabled]="pessoaForm.pristine || pessoaForm.invalid" class="btn btn-success" (click)="addPessoa()">
                  Adicionar
              </button>
              <button type="button" class="btn btn-default" (click)="modalRef.hide()">
                Cancelar
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</ng-template>
