<app-template-financeiro>
  <div class="table-title">
    <div class="row">
        <div class="col-sm-8 title-small"><h2>Dívidas de <b>{{ pessoa.nome }}</b></h2></div>
        <app-modal-add-pessoa></app-modal-add-pessoa>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Numero do titulo</th>
        <th>Valor original</th>
        <th>Ver detalhes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let divida of dividas">
        <td>{{ divida.numeroTitulo }}</td>
        <td>{{ divida.valorOriginal }}</td>
        <td>
            <a class="ver" title="Ver" data-toggle="tooltip"><i class="material-icons">&#xe8b6;</i></a>
        </td>
      </tr>
    </tbody>
  </table>
</app-template-financeiro>
